* {
  margin: 0;
  padding: 0;
  border: none;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.first-part {
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 50px;
}
.content-1 {
  width: 50%;
  margin-top: 10%;
  margin-left: 5%;
}
.skip {
  color: rgb(255, 0, 128);
}
.content-1 h1 {
  font-size: 55px;
  color: rgb(90, 90, 90);
  line-height: 70px;
}
.content-1 p {
  margin-top: 20px;
  font-size: 18px;
  color: gray;
  line-height: 27px;
  letter-spacing: 1px;
}
.content-2 {
  width: 50%;
  margin-right: 5%;
}
.content-2 img {
  width: 98%;
}
.food-button {
  display: block;
  margin-top: 5%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 65px;
  width: 190px;
  line-height: 65px;
  border-radius: 50px;
  background: linear-gradient(
    60deg,
    rgba(255, 154, 114, 0.925),
    rgb(255, 49, 13)
  );
  box-shadow: 1px 1px 20px rgba(255, 133, 96, 0.884);
}

.second-part {
  background-image: url(../images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-bottom: 50px;
}
.about-image {
  width: 80%;
  margin-left: 10%;
  margin-right: 5%;
}
.about-image img {
  width: 54%;
  margin-top: 5%;
  margin-left: 15%;
}
.about-detail {
  width: 60%;
}
.about-detail {
  margin-top: 8%;
  margin-right: 15%;
}
.about-detail h1 {
  margin-bottom: 5%;
  font-size: 40px;
  color: gray;
}
.about-detail p {
  margin-bottom: 5%;
  font-size: 18px;
  line-height: 25px;
  color: rgb(100, 100, 100);
}
.about-detail .food-button {
  margin-top: 50px;
}
.recipie {
  margin-bottom: 100px;
}
.recipie h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  color: gray;
}
.recipie p {
  text-align: center;
  font-size: 22px;
  color: rgb(78, 78, 78);
  margin: 2% 16%;
  line-height: 30px;
  letter-spacing: 1px;
}
.all-recipies {
  display: flex;
  margin: 4% 0%;
  margin-left: 3%;
  margin-right: 7%;
}
.all-recipies .recipies-food {
  width: 50%;
  margin-left: 4%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 10px 10px 50px rgb(194, 194, 194);
}
.recipies-food h1 {
  color: rgb(56, 56, 56);
  margin-top: 15px;
  font-size: 33px;
  margin-bottom: 15px;
  font-weight: 600;
}
.recipies-food p {
  font-size: 18px;
  color: rgb(85, 85, 85);
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 15px;
}
.all-recipies .recipies-food img {
  width: 100%;
}
.inforamtion {
  display: flex;
  margin-top: 100px;
  background-color: white;
  box-shadow: 10px 10px 50px rgb(187, 187, 187);
  padding: 5% 0%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
  border-radius: 10px;
}
.followers {
  width: 50%;
  margin-left: 10%;
  margin-right: 7%;
}
.data {
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.data h1 {
  color: rgb(71, 71, 71);
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 5%;
}
.data p {
  font-size: 18px;
  color: rgb(71, 71, 71);
  line-height: 25px;
  letter-spacing: 1px;
}
.footer-section {
  height: 20%;
  background-color: rgb(6, 8, 17);
}
.footer-content {
  padding: 4% 0;
}
.footer-content h1 {
  color: rgb(102, 102, 102);
  text-align: center;
}
.footer-content p {
  color: rgb(196, 196, 196);
  text-align: center;
  margin-top: 2.5%;
}
.footer-content p::after {
  content: "🙂";
}
.food {
  color: goldenrod;
}
